Repository AriAri-Dong/ariari-frontend, pull requests merged in 2025-04, with the labels that each got.

#100 [Feat] Club FAQ and Q&A API
  app/(club)/club/clubPage.tsx
  app/(club)/club/help/components/faqContent.tsx
  app/(club)/club/help/components/qnaContent.tsx
  app/(club)/club/help/components/questionDropdown.tsx
  app/(club)/club/help/content/faqSection.tsx
  app/(club)/club/help/content/qnaSection.tsx
  app/(club)/club/help/page.tsx
  app/(club)/club/layout.tsx
  app/(help)/help/page.tsx
  app/api/club/help/api.ts
  app/hooks/club/useClubHelpMutation.tsx
  app/hooks/club/useClubHelpQuery.tsx
  app/types/club.ts
  app/types/member.ts
Labels: 💫 Feat, 🔗 Api

#124 [Feat] Application
  app/(club)/club/components/renderField.tsx
  app/(club)/club/management/recruitment/applicationForm/page.tsx
  app/(recruitment)/recruitment/detail/content/clubInfo.tsx
  app/(recruitment)/recruitment/detail/util/transformRecruitmentToMainCard.ts
  app/api/apply/api.ts
  app/components/bar/floatingBar/recruitmentBottomBar.tsx
  app/components/bottomSheet/preview/applicationPreviewBottomSheet.tsx
  app/components/card/applicationFormCard.tsx
  app/components/form/application/applicationFieldForm.tsx
  app/components/form/application/applicationFieldFormMobile.tsx
  app/components/form/applicationFieldForm.tsx
  app/components/modal/club/applicationFormModal.tsx
  app/components/modal/club/applicationFormViewModal.tsx
  app/components/modal/club/mobileApplicationFormViewModal.tsx
  app/components/modal/club/preview/applicationFormPreviewModal.tsx
  app/components/modal/club/preview/mobileApplicationFormPreviewModal.tsx
  app/data/application.ts
  app/data/club.ts
  app/types/application.ts
  app/types/components/card.ts
  app/types/recruitment.ts
Labels: 💫 Feat, 🎨 Design, 🔗 Api

#115 Feature/policies and term
  app/(terms)/terms/club/page.tsx
  app/(terms)/terms/privacy/page.tsx
  app/(terms)/terms/user/page.tsx
  app/(withdrawal)/withdrawal/page.tsx
  app/components/card/NoticeCard.tsx
  app/components/card/clubWithdrawalCard.tsx
  app/components/layout/footer.tsx
  app/components/layout/header.tsx
  app/components/layout/layout.tsx
  app/data/policies.ts
  app/data/withdrawal.ts
  app/types/components/withdrawInfo.ts
Labels: 💫 Feat, 🎨 Design

#110 [Feat] Application Page API
  app/(application)/application/content/application.tsx
  app/(application)/application/content/listSection.tsx
  app/(application)/application/page.tsx
  app/(club)/club/layout.tsx
  app/api/apiUrl.ts
  app/api/apply/api.ts
  app/components/card/applicationCard.tsx
  app/types/application.ts
  app/utils/dayDifference.ts
Labels: 💫 Feat, 🔗 Api

#116 [Feat] Club finance API
  app/(club)/club/management/activity/accounting/page.tsx
  app/api/apiUrl.ts
  app/api/club/finance/api.ts
  app/components/bar/membershipBalanceBar.tsx
  app/components/bar/mobileMembershipBalanceBar.tsx
  app/components/bottomSheet/accountingBottomSheet.tsx
  app/components/list/membershipBalanceList.tsx
  app/components/modal/club/accountingModal.tsx
  app/data/clubAccounting.ts
  app/hooks/club/useClubFinanceMutation.tsx
  app/hooks/club/useClubFinanceQuery.tsx
  app/types/club.ts
Labels: 💫 Feat, 🔗 Api

#134 [Feat] Integrated search page
  app/(search)/search/content/mainSection.tsx
  app/(search)/search/page.tsx
  app/(user)/user/club/create/page.tsx
  app/api/apiUrl.ts
  app/api/club/api.ts
  app/api/member/api.ts
  app/api/recruitment/api.ts
  app/components/card/searchRecruitmentCard.tsx
  app/components/dropdown/acceptanceReviewDropdown.tsx
  app/components/dropdown/activityReviewDropdown.tsx
  app/components/input/searchInput.tsx
  app/components/layout/layout.tsx
  app/components/modal/searchModal.tsx
  app/images/icon/search/noResult.svg
  app/stores/userStore.ts
  app/types/api.ts
  app/utils/dateFormatter.ts
  package-lock.json
  package.json
Labels: 💫 Feat, 🎨 Design, 🔗 Api

#131 [Feat] Club Application Form API
  app/(club)/club/management/recruitment/applicationForm/page.tsx
  app/api/apiUrl.ts
  app/api/applyForm/api.ts
  app/components/form/application/applicationFieldForm.tsx
  app/components/form/application/applicationFieldFormMobile.tsx
  app/hooks/club/applyForm/useClubApplyFormMutation.tsx
  app/hooks/club/applyForm/useClubApplyFormQuery.tsx
Labels: 🔗 Api

#125 [Feat] Customer service center Page
  app/(help)/help/components/faqDropdown.tsx
  app/(help)/help/components/mobileHeaderSection.tsx
  app/(help)/help/components/noticeDropdown.tsx
  app/(help)/help/page.tsx
  app/api/apiUrl.ts
  app/api/service/api.ts
  app/components/layout/footer.tsx
  app/components/layout/layout.tsx
  app/data/service.ts
  app/types/service.ts
Labels: 💫 Feat, 🎨 Design, 🔗 Api

#130 [Feat] Club Activity History API
  app/(club)/club/activityHistory/components/activityCreateContent.tsx
  app/(club)/club/activityHistory/components/activityCreateForm.tsx
  app/(club)/club/activityHistory/page.tsx
  app/api/apiUrl.ts
  app/api/club/activity/api.ts
  app/components/comment/comment.tsx
  app/components/comment/commentInput.tsx
  app/components/dropdown/postBox.tsx
  app/data/clubActivity.ts
  app/types/clubActivity.ts
  app/utils/dateFormatter.ts
Labels: 🔗 Api, 🚧 Refactor

#121 [Feat] Notification API, Club Page Menu UI
  app/(club)/club/clubPage.tsx
  app/(club)/club/components/menu/leftMenu.tsx
  app/(club)/club/components/menu/mobileMenu.tsx
  app/(club)/club/components/tabs/mobileTabs.tsx
  app/api/apiUrl.ts
  app/api/notification/api.ts
  app/components/button/helpText/helpText.tsx
  app/components/button/iconBtn/notificationRound.tsx
  app/components/icon/index.tsx
  app/components/list/notificationList.tsx
  app/components/modal/notification/mobileNotificationModal.tsx
  app/components/modal/notification/notificationModal.tsx
  app/components/user/mobileUser.tsx
  app/constants/clubMenu.ts
  app/data/club.ts
  app/globals.css
  app/hooks/notification/useNotificationMutation.tsx
  app/hooks/notification/useNotificationQuery.tsx
  app/images/icon/clubMenu/acceptance_review.svg
  app/images/icon/clubMenu/accounting.svg
  app/images/icon/clubMenu/activity_history.svg
  app/images/icon/clubMenu/activity_management.svg
  app/images/icon/clubMenu/activity_review.svg
  app/images/icon/clubMenu/announcement.svg
  app/images/icon/clubMenu/close_club.svg
  app/images/icon/clubMenu/help.svg
  app/images/icon/clubMenu/members.svg
  app/images/icon/clubMenu/notification.svg
  app/images/icon/clubMenu/recruit_announcement.svg
  app/images/icon/clubMenu/recruit_management.svg
  app/images/icon/clubMenu/schedule.svg
  app/images/icon/clubMenu/withdrawal.svg
  app/types/notification.ts
  next.config.mjs
  package-lock.json
  package.json
  pnpm-lock.yaml
  svg.d.ts
  tailwind.config.ts
  tsconfig.json
Labels: 💫 Feat, 🎨 Design, 🔗 Api

#128 [Feat] Withdrawal Api
  app/(club)/club/management/members/components/clubMemberList.tsx
  app/(club)/club/management/members/components/invitationFormContent.tsx
  app/(club)/club/management/members/content/ClubMemberContent.tsx
  app/(exploration)/exploration/page.tsx
  app/(recruitment)/recruitment/detail/content/clubActivities.tsx
  app/(search)/search/content/mainSection.tsx
  app/(user)/user/club/create/page.tsx
  app/(user)/user/interestClub/page.tsx
  app/(withdrawal)/withdrawal/page.tsx
  app/api/apiUrl.ts
  app/api/apply/api.ts
  app/api/club/api.ts
  app/api/club/help/api.ts
  app/api/member/api.ts
  app/components/card/clubInfoCard.tsx
  app/components/card/selectAdministrator.tsx
  app/components/input/memberSearch.tsx
  app/components/modal/leave/leaveDialog.tsx
  app/components/modal/leave/step2.tsx
  app/data/clubMembers.ts
  app/data/faq.ts
  app/data/qna.ts
  app/types/api.ts
  app/types/components/delegate.ts
  app/types/member.ts
Labels: 💫 Feat, 🎨 Design, 🔗 Api
