Repository AriAri-Dong/ariari-frontend, pull requests merged in 2025-05, with the labels that each got.

#137 [Feat] Home - My Club
  app/(club)/club/recruitment/content/clubRecruitmentContent.tsx
  app/(home)/home/content/myClub.tsx
  app/(home)/home/pageContent.tsx
  app/api/apply/api.ts
  app/api/club/api.ts
  app/components/card/myClubCard.tsx
  app/components/layout/footer.tsx
  app/components/modal/club/applicationFormModal.tsx
  app/data/club.ts
  app/types/club.ts
  app/utils/formatKSTTime.ts
  app/utils/formatRelativeTime.ts
  next.config.mjs
  package-lock.json
  package.json
Labels: 💫 Feat, 🎨 Design, 🔗 Api

#142 [Fix] Issue
  app/(community)/community/page.tsx
  app/(user)/user/myPoint/page copy.tsx
  app/components/card/mainRecruitmentCard.tsx
  app/components/card/mainRecruitmentCardWithCarousel.tsx
  app/components/dropdown/userDropdown.tsx
  app/components/input/textInputWithBtn.tsx
  app/components/layout/header.tsx
  app/components/modal/profileSetting/profileSetting.tsx
  app/components/user/user.tsx
  app/data/header.ts
  app/schema/email.ts
  tailwind.config.ts
Labels: 🐞 Bug

#138 [Feat] Agreement
  app/(auth)/auth/kakao/content/pageContent.tsx
  app/(home)/home/pageContent.tsx
  app/(search)/search/content/mainSection.tsx
  app/(user)/user/club/create/page.tsx
  app/api/apiUrl.ts
  app/api/axiosInstance.ts
  app/api/club/api.ts
  app/api/headerToken.ts
  app/api/login/api.ts
  app/api/recruitment/api.ts
  app/api/service/api.ts
  app/components/bottomSheet/agreementsBottomSheet.tsx
  app/components/card/mainRecruitmentCard.tsx
  app/components/card/mainRecruitmentCardWithCarousel.tsx
  app/components/dropdown/userDropdown.tsx
  app/components/layout/header.tsx
  app/components/layout/layout.tsx
  app/components/modal/agreement/agreementModal.tsx
  app/components/modal/profileSetting/agreementDetailModal.tsx
  app/components/modal/profileSetting/mobile/mobileProfileSetting.tsx
  app/components/modal/profileSetting/mobile/mobileProfileSettingModal.tsx
  app/components/modal/profileSetting/mobile/step0.tsx
  app/components/modal/profileSetting/profileSetting.tsx
  app/components/modal/profileSetting/profileSettingModal.tsx
  app/components/modal/profileSetting/step0.tsx
  app/components/modal/userModal.tsx
  app/components/tab/headerTab.tsx
  app/components/user/mobileUser.tsx
  app/components/user/user.tsx
  app/context/profileConetxt.tsx
  app/data/agreements.ts
  app/stores/authStore.ts
  app/stores/userStore.ts
  app/types/api.ts
  next.config.mjs
Labels: 💫 Feat, 🎨 Design

#147 [Feat] Club Event Page - UI, API
  app/(club)/club/event/content/listSection.tsx
  app/(club)/club/event/page.tsx
  app/(club)/club/management/members/components/clubMemberList.tsx
  app/(club)/club/management/members/content/ClubMemberContent.tsx
  app/(club)/club/review/acceptance/content/acceptanceReviewContent.tsx
  app/(club)/club/review/activity/content/clubActivityReviewContent.tsx
  app/api/apiUrl.ts
  app/api/club/event/api.ts
  app/components/bottomSheet/attendanceBottomSheet.tsx
  app/components/bottomSheet/clubEventBottomSheet.tsx
  app/components/calendar/eventCalender.tsx
  app/components/calendar/singleDateCalendar.tsx
  app/components/dropdown/clubEventDropdown.tsx
  app/components/input/clubMemberSearch.tsx
  app/components/input/searchInput.tsx
  app/components/layout/footer.tsx
  app/components/layout/layout.tsx
  app/components/modal/club/attendanceModal.tsx
  app/components/modal/club/clubEventModal.tsx
  app/components/modal/login/loginModal.tsx
  app/components/modal/profileSetting/step4.tsx
  app/components/modal/reportModal.tsx
  app/components/token/clubMemberToken.tsx
  app/components/user/user.tsx
  app/constants/queryKeys.ts
  app/data/club.ts
  app/hooks/club/evnet/useAutoSubmitAttendance.tsx
  app/hooks/club/evnet/useClubEventMutation.tsx
  app/hooks/club/evnet/useClubEventQuery.tsx
  app/images/icon/group.svg
  app/images/icon/location.svg
  app/types/clubEvent.ts
  app/utils/formatKSTTime.ts
  public/style/custom.css
Labels: 💫 Feat, 🎨 Design, 🔗 Api

#149 [Feat] Terms API
  app/(application)/application/content/application.tsx
  app/(club)/club/activityHistory/page.tsx
  app/(club)/club/event/page.tsx
  app/(club)/club/help/page.tsx
  app/(club)/club/management/members/content/ClubMemberContent.tsx
  app/(club)/club/recruitment/content/clubRecruitmentContent.tsx
  app/(club)/club/review/acceptance/content/acceptanceReviewContent.tsx
  app/(club)/club/review/activity/content/clubActivityReviewContent.tsx
  app/(home)/home/pageContent.tsx
  app/(recruitment)/recruitment/detail/components/recruitmentSummary.tsx
  app/(recruitment)/recruitment/detail/content/clubActivities.tsx
  app/(recruitment)/recruitment/detail/content/clubInfo.tsx
  app/(terms)/terms/club/page.tsx
  app/(terms)/terms/content/markdownSection.tsx
  app/(terms)/terms/privacy/page.tsx
  app/(terms)/terms/user/page.tsx
  app/api/apiUrl.ts
  app/api/apply/api.ts
  app/api/recruitment/api.ts
  app/api/service/api.ts
  app/components/alert/alert.tsx
  app/components/bar/floatingBar/recruitmentGuideFloatingBar.tsx
  app/components/bottomSheet/applicationFormBottomSheet.tsx
  app/components/card/applicationCard.tsx
  app/components/feedback/loading.tsx
  app/components/layout/header.tsx
  app/components/modal/club/applicationFormModal.tsx
  app/components/modal/club/applicationFormViewModal.tsx
  app/components/modal/club/interviewNoticeModal.tsx
  app/components/modal/club/mobileApplicationFormViewModal.tsx
  app/components/modal/club/preview/applicationFormPreviewModal.tsx
  app/components/tab/subTap.tsx
  app/components/tooltip.tsx
  app/constants/queryKeys.ts
  app/hooks/apply/useApplyQuery.tsx
  app/hooks/recruitment/useRecruitmentDetailQuery.tsx
  app/images/lottie/loading.json
  app/types/recruitment.ts
  app/types/service.ts
  package-lock.json
  package.json
  tailwind.config.ts
Labels: 💫 Feat, 🎨 Design, 🔗 Api
